h1{
   color: #221903;
   font-size: 100px;
   background-color: rgb(101, 65, 49);
   text-align: center;
   font-family: "Lobster", sans-serif;
}


body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: larger;
   background-color: rgb(134, 88, 67);
}


.h1-logo{
   width: 125px;
   height: 125px;
   vertical-align: middle;
   margin-right: 100px;
}


footer {
   background-color:rgb(85, 50, 35);
   color: rgb(33, 19, 14);
  
}
h5{
   color: rgb(33, 19, 14);
}


.correo {
   color: rgb(33, 19, 14);
}


.telefono{
   color: rgb(33, 19, 14);
}


.direccion{
   color: rgb(33, 19, 14);
}


.facebook {
   color: rgb(33, 19, 14);
}


.instagram {
   color: rgb(33, 19, 14);
}
.twitter {
   color: rgb(33, 19, 14);
}


